&nbsp;&nbsp;&nbsp;&nbsp;<% title "Stats" %>
<table>
  <tr>
    <th>&nbsp;&nbsp;&nbsp;Hitcount</th>
  </tr>
  <% for stats in @stats %>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= stats.hitcount %></td>
    </tr>
  <% end %>
</table>